# ================================
# Python
# ================================

__pycache__/
*.py[cod]
*$py.class


# ================================
# Virtual Environment
# ================================

.venv/
venv/
env/
ENV/


# ================================
# Jupyter Notebook
# ================================

.ipynb_checkpoints/


# ================================
# Streamlit
# ================================

.streamlit/secrets.toml


# ================================
# VS Code
# ================================

.vscode/


# ================================
# OS Files
# ================================

.DS_Store
Thumbs.db


# ================================
# Temporary / Backup Files
# ================================

*.tmp
*.temp
*.bak


# ================================
# Python Cache
# ================================

*.pyc
*.pyo
*.pyd